<nav class="pagination">
    {{#paginate pagination type="previous"}}
      <li>
          {{#if disabled}}
          <span class="prev disabled"><b>&laquo;</b> Previous</span>
          {{else}}
            {{#if ../pagination.sort}}
              <a href="?s={{../pagination.sort}}&page={{n}}" class="prev"><b>&laquo;</b> Previous</a>
            {{else}}
              <a href="?page={{n}}" class="prev"><b>&laquo;</b> Previous</a>
            {{/if}}
          {{/if}}
      </li>
    {{/paginate}}

    {{#paginate pagination type="middle" limit="7"}}
      <li {{#if active}}class="active"{{/if}}>
          {{#if ../pagination.sort}}
            <a href="?s={{../pagination.sort}}&page={{n}}" class="itens">{{n}}</a>
          {{else}}
            <a href="?page={{n}}" class="itens">{{n}}</a>
          {{/if}}
      </li>
    {{/paginate}}

    {{#paginate pagination type="next"}}
      <li>
          {{#if disabled}}
            <span class="next disabled">Next <b>&raquo;</b> </span>
          {{else}}
            {{#if ../pagination.sort}}
              <a href="?s={{../pagination.sort}}&page={{n}}" class="next">Next <b>&raquo;</b> </a>
            {{else}}
              <a href="?page={{n}}" class="next">Next <b>&raquo;</b> </a>
            {{/if}}
          {{/if}}
      </li>
    {{/paginate}}
</nav>
